@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat&family=Noto+Serif+TC:wght@300&family=Playfair+Display&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header .cabecalho{
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    align-items: center;
    position: fixed;
}

h2{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
    width: 100px;
}
.logo{
    margin-right: 20px;
    margin-bottom: 40px;
    padding-right: 5px;
}

.insta{
    padding-left: 10px;
    width: 25px;
}

.insta:hover {
    transform: scale(1.2);
}

.zap{
    padding-left: 10px;
    width: 25px;
}

.zap:hover {
    transform: scale(1.2); 
}

.cabecalho .apresentacao .nome{
    font-family: 'Alex brush';
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.cabecalho .especializacoes{
    font-size: 20px;
    font-family: 'Playfair+Display';
    display: inline-flex;
    margin-top: -15px;
    margin-bottom: 0px;
    margin-left: 100px;
}

hr{
    margin-top: 0px;
}

.raiki{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.raiki-descricao{
    padding-top: 50px;
    padding-left: 5px;
    margin-top: 145px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.raiki-beneficio{
    padding-top: 10px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 0;
}

.raiki-imagem{
    margin-top: 170px;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../imagens/imagemraiki.jpg");
    background-size: cover;
    background-position: center;
}

.argiloterapia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.argilo-descricao{
    padding-top: 20px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.argilo-beneficio{
    line-height: 25px;
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

.argilo-beneficio-list{
    display: inline-flex;
}

.argilo-imagem{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../imagens/argiloterapia.jpg");
    background-size: cover;
    background-position: center;
}

.reflexologia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: -15px;
}

.reflexo-descricao{
    padding-top: 20px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.reflexo-beneficio{
    padding-top: 10px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 15px;
}

.reflexo-beneficio-list{
    display: inline-flex;
}

.reflexo-imagem{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../imagens/imagemreflexologiapodal.jpg");
    background-size:cover;
    background-position: center;
}

.ventosaterapia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ventosa-descricao{
    padding-top: 20px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.ventosa-beneficio{
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 20px;
}

.ventosa-beneficio-list{
    display: inline-flex;
}

.ventosa-imagem{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../imagens/imagemventosaterapia.jpg");
    background-size: cover;
    background-position: center;
}

.massagem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: -15px;
}

.massagem-descricao{
    padding-top: 20px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.massagem-beneficio{
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.massagem-beneficio-list{
    display: inline-flex;
}

.massagem-imagem{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url("../imagens/imagemmassagemrelaxante.jpg");
    background-size: cover;
    background-position: center;
}

.terapia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.terapia-descricao{
    padding-top: 20px;
    padding-left: 5px;
    line-height: 25px;
    background-color: #783c00;
    color: white;
    font-family: 'Noto+Serif';
    padding-bottom: 10px;
}

.terapia-beneficio{
    background-color: #bc5e00;
    color: white;
    font-family: 'Noto+Serif';
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 20px;
}

.terapia-beneficio-list{
    display: inline-flex;
}

.terapia-imagem{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("../imagens/imagemvaporizacao.jpg");
    background-size: cover;
    background-position: center;
}


footer{
    font-weight: bold;
    position:fixed;
    bottom: 0;
    background-color: bisque;
    color: black;
    width: 100%;
    height: 30px;    
    text-align: center;
    line-height: 2px;
    
}

@media (min-width: 775px) and (max-width: 923px) {
    header .cabecalho{
    }

    .cabecalho .apresentacao .nome{
        font-size: 40px;
    }

    .cabecalho .especializacoes{
        font-size: 15px;
    }
}

@media (min-width: 634px) and (max-width: 774px) {

    header .cabecalho{
    }

    .cabecalho .apresentacao .nome{
        font-size: 30px;
    }

    .cabecalho .especializacoes{
        line-height: 20px;
        font-size: 15px;
        display: inline-flex;
        margin-top: -5px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    .raiki-imagem{
        margin-top: 157px;
    }
}

@media (min-width: 400px) and (max-width: 633px) {
    header .cabecalho{
    }

    .cabecalho .apresentacao .nome{
        padding-top: 20px;
        width:max-content;
        font-size: 18px;
    }

    .cabecalho .especializacoes{
        line-height: 18px;
        font-size: 13px;
        display: inline-flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    img {
        border-radius: 10px;
        padding-right: 5px;
        padding-left: 5px;
        width: 60px;
    }
    .logo{
        padding-right: 15px;
        width: 60px;
    }
    
    .insta{
        padding-left: 0px;
        width: 28px;
    }
    
    .zap{
        padding-left: 3px;
        width: 24px;
    }

    .raiki , .argiloterapia , .reflexologia, .ventosaterapia, .massagem, .terapia{
        display: grid;
        grid-template-columns: 1fr;
    }

    footer{
        font-size: 10px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    header .cabecalho{
    }

    .cabecalho .apresentacao .nome{
        width:max-content;
        font-size: 18px;
    }

    .cabecalho .especializacoes{
        line-height: 20px;
        padding-right: 30px;
        padding-right: 20px;
        font-size: 10px;
        display: inline-flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    img {
        border-radius: 10px;
        padding-right: 5px;
        padding-left: 5px;
        width: 60px;
    }
    .logo{
        display: none;
    }
    
    .insta{
        padding-left: 0px;
        width: 28px;
    }
    
    .zap{
        padding-left: 3px;
        width: 24px;
    }

    .raiki , .argiloterapia , .reflexologia, .ventosaterapia, .massagem, .terapia{
        display: grid;
        grid-template-columns: 1fr;
    }

    .raiki-descricao{
        margin-top: 115px;
        padding-top: 15px;
    }

    footer{
        font-size: 9px;
    }
}